<div class="row">
   <div class="col-12 text-center">
        <div class="btn-group">
            <button type="button" (click)="changeTab('Roles')" class="btn" [ngClass]="current === 'Roles' ? 'btn-success': 'btn-primary'">Roles</button>
            <button type="button" (click)="changeTab('Designation')" class="btn" [ngClass]="current === 'Designation' ? 'btn-success': 'btn-primary'">Designation</button>
        </div>
   </div>
</div>
<div class="row pt-2">
   <div class="col-12" *ngIf="current === 'Roles'">
        <app-roles></app-roles>
   </div>
   <div class="col-12" *ngIf="current === 'Designation'">
        <app-designation></app-designation>
   </div>
</div>